# GCP Project Factory Configuration - PROD Environment
gcp_project_id     = "-prod"
environment        = "prod"
owner_team         = ""
gcp_region         = ""
billing_account_id = "012345-6789AB-CDEF01"
enable_base_vpc    = true
enable_iam_roles   = true
enabled_services   = [
]
status_flag        = "PROJECT_PENDING"
